{% extends "layout.html" %}

{% block content %}
<div>
    <h1>Todo List:</h1>
    <div>
        {% if msg[0] %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ 'To do item added successfully' }}
            </div>
        {% endif %}
        {% if msg[1] %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ 'To do item deleted successfully' }}
            </div>
        {% endif %}
    </div>
    <table id="todotable" class="table table-striped">
        <thead><th>#</th><th>User</th><th>Description</th><th>Completed</th><th>Json View</th><th>Delete</th></thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>
                    <a href="{{ url_for('todo', id=todo.id) }}">
                       {{ todo.description }}
                    </a>
                </td>
                <td>
                    {% if todo.is_completed == True %}
                    <div class="checkbox">
                        <input type="checkbox" class="todochk" name="todochk" id="{{ todo.id }}" checked>
                    </div>
                    {% else %}
                    <div class="checkbox">
                        <input type="checkbox" class="todochk" name="todochk" id="{{ todo.id }}">
                    </div>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('todojson', id=todo.id) }}">
                       {{ 'View' }}
                    </a>
                </td>
                <td>
                    <form method="post" action="{{ url_for('todo_delete', id=todo.id) }}">
                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table>
        <tr>
            <form method="post" action="{{ url_for('todos_POST') }}">
                <td colspan="3">
                    <input type="textbox" id="description" name="description" class="small-6 small-center" placeholder="Description..." required>
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>

</div>

    <script>

    $(document).ready(function() {
        // Initiate todo_table
        $('#todotable').DataTable();
    });

    // Register an event that should be fired when the checkbox value is changed
    $('.todochk').change(function() {
        var data = { isChecked : $(this).is(':checked'), id:  $(this)[0].id};
        $.post('/todochk', data);
    });

    // Event listener to customize text box validation message
    document.addEventListener("DOMContentLoaded", function() {
        var elements = document.getElementById("description");
        elements.oninvalid = function(e) {
            e.target.setCustomValidity("");
                if (!e.target.validity.valid) {
                    e.target.setCustomValidity("Please fill up the description field");
                }
        }
        elements.oninput = function(e) {
            e.target.setCustomValidity("");
        };
    });

    </script>
{% endblock %}